.container {
  margin: 0 auto;
  max-width: 600px;
}

#text {
  margin-bottom: 20px;
  padding: 50px;
  background: lightblue;
  font-size: 35px;
  min-height: 86px;
  min-width: 50%;
}

#hint {
  margin-bottom: 50px;
  padding: 30px;
  text-align: left;
  background: lightsalmon;
  font-size: 25px;
  min-height: 40px;
  min-width: 30%;
}

#der {
  background: blue;
  padding: 8px;
  height: 15px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

#die {
  background: red;
  padding: 8px;
  font-size: 30px;
  color: white;
  margin: 0px 10px;
  text-decoration: none;
}

.articles {
  max-width: 400px;
  display: inline-block;
}

#das {
  background: green;
  padding: 8px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.articlebuttons:hover {
  display: focus;
  border: 3px black solid;
}

#button {
  background: grey;
  padding: 8px;
  font-size: 30px;
  color: black;
  margin-left: 5px;
  text-decoration: none;
}

#button:hover {
  display: focus;
  border: solid 3px black;
}

#count {
  margin-top: 40px;
}
