.container {
  margin: 0 auto;
  width: 800px;
}

.main {
  display: flex;
}

#text {
  margin-bottom: 50px;
  padding: 50px;
  background: lightblue;
  font-size: 35px;
  min-height: 86px;
  min-width: 50%;
}

#hint {
  margin-bottom: 50px;
  margin-left: 20px;
  padding: 50px;
  background: lightsalmon;
  font-size: 25px;
  min-height: 86px;
  min-width: 30%;
}

#der {
  background: blue;
  padding: 20px;
  height: 15px;
  width: 50px;
  font-size: 30px;
  color: white;
}

#die {
  background: red;
  padding: 20px;
  font-size: 30px;
  color: white;
  margin: 0px 10px;
}

#das {
  background: green;
  padding: 20px;
  font-size: 30px;
  color: white;
}


.articlebuttons:hover{
display:focus;
}

#button {
  margin-left: 10px;
  padding: 30px;
  font-size: 20px;
  background:grey;
  width: 50px;
  color:white;
  text-decoration:none;
}

#button:hover{
  display:focus;
}

@media (max-width: 410px) {
  .main{
    flex-direction:column;
  }

  #hint, #text{
    margin-left:0;
    max-width: 100%;
    max-height:50px;
  }

  #articles{
    max-width: 400px;
  }
}



}
